@CHARSET "UTF-8";

body, textarea {
	scrollbar-base-color:#FFFBFF;
	scrollbar-3dlight-color:#fafafa;
	scrollbar-highlight-color:#CECFCE;
	scrollbar-shadow-color:#CECFCE;
	scrollbar-darkshadow-color:#fafafa;
	scrollbar-track-color:#FFFBFF;
	scrollbar-arrow-color:#010101;
}

.portal-navigator img , .portlet-button img {
	filter:alpha(opacity=80);
}
.portal-navigator:hover img, 
.portal-navigator-hover img, 
.portlet-button:hover img,
.portlet-button-hover img {
	filter:alpha(opacity=100);
}

.portal-vcard-icons {
	filter:alpha(opacity=50);
}
.portal-vcard-icons:hover, .portal-vcard-icons-hover {
	filter:alpha(opacity=100);
}
.portlet-container {  /* it's table */
	height : 100%;
}
.portlet-container-maximized {
	height : 100%;
}
